* {
  backface-visibility: hidden; }

  .project_sideBar {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background: #fff;
      width: 75rem;
      padding: 4rem;
      box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
     }

 .project_sideBar .heading {
      text-align: center; }
.project_sideBar .heading h1 {
        color: #8d99ae;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: 2.5rem; }
 

.project_overlay {
          display: flex;
          justify-content: center;
          box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
          border-radius: 2rem;
          border: 1px solid rgba(255, 255, 255, 0.125);
          background: #0a183d;
          width:900px;
            padding: 10px;
          }

$yellow: #f1c40f;
$lime: #76c900;
$navy: #0a4069;
$cyan: #57caf4;
$red: #ec008c;
$white: #fefefe;
$gray: #444;
$lightGray: lighten($gray, 30);
.legend
{
    z-index: 100;
    display: flex;
    flex-direction: row;

    justify-content: center;
}
label
{
    box-sizing: border-box;
    padding: 1em;

    cursor: pointer;
    transition: all .15s ease-in-out;

    color: $navy;
    border: 1px solid rgba($white, .6);
    border-radius: 0;

    flex: 0 0 6em;
    &:first-child
    {
        margin-right: 0;

        border-radius: .2em 0 0 .2em;
    }
    &:last-child
    {
        margin-left: 0;

        border-radius: 0 .2em .2em 0;
    }
}



input[id='status-1']:checked ~ .legend > label[for='status-1'],
input[id='status-2']:checked ~ .legend > label[for='status-2'],
input[id='status-3']:checked ~ .legend > label[for='status-3'],
input[id='double-size']:checked ~ label[for='double-size']
{
    color: $lime;
    border: 1px solid darken($navy, 15);
    background-color: $navy;
}
input[id='double-size']:checked + .small-font-size
{
    font-size: 2em;
}

input[name='set-value']:checked ~ .content
{
    article
    {
        label[for='set-value']
        {
            color: $lime;
            border: 1px solid darken($navy, 15);
            background-color: $navy;
        }
        .chart .bar
        {
            &.bar-1,
            &.bar-1-1
            {
                .face.side-0 .growing-bar,
                .face.side-1 .growing-bar
                {
                    transform: translateY(100 - percentage(85/100));
                    &:before
                    {
                        content: '85';
                    }
                }
            }
        }
    }
}