/* ----- Variables ----- */
$color-primary: #4c4c4c;
$color-secondary: #a6a6a6;
$color-highlight: #ff3f40;

/* ----- Project Section ----- */
.project_container {
  background-color: #0a183d;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project {
  margin: auto;
  padding: 2.5em 0;
  width: 100%;
  background-color: #0a183d;
  border-radius: 5px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/ricepaper2.png")
    repeat;
}

/* ----- Photo Section ----- */
.photo-container {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main {
  border-radius: 6px 6px 0 0;
  background: radial-gradient(#0a183d, #0d2053);
  img {
    top: 0;
    height: 400px;
    width: 100%;
    filter: saturate(150%) contrast(120%) hue-rotate(10deg)
      drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
    border: 3px solid rgba(255, 255, 255, 0.125);
  }
}

.photo-album {
  padding: 0.7em 1em;
  border-radius: 0 0 6px 6px;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 135px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/ricepaper2.png")
    repeat;
  -webkit-box-shadow: inset 0px 10px 5px -6px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 10px 5px -6px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 10px 5px -6px rgba(0, 0, 0, 0.08);

  img {
    padding: 5px;
    margin-left: 5px;
    border: 2px solid #d3c8be;
    -moz-border-radius: 100px;
    width: 100%;
    height: 100px;
    -webkit-border-radius: 100px;
    border-radius: 10px;
    font-size: 0.5em;
    color: #d3c8be;
    cursor: pointer;
    &:hover,
    &:focus {
      border: 2px solid darken(#0a183d, 10%);
    }
    &:active {
      border: 2px solid darken(#d3c8be, 20%);
      color: darken(#c26814, 20%);
    }
  }
}

/* ----- Informations Section ----- */

.project_info {
  display: grid;
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  background: #0a183d;
  justify-content: center;
  padding: 20px;

  .project_title {
    color: $color-secondary;
    padding: 10px;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 3px solid rgba(255, 255, 255, 0.125);
    background: #0a183d;
    width: 500px;
    h1 {
      margin-bottom: 0.5em;
      color: $color-primary;
      font-size: 1.5em;
      font-weight: 900;
      text-transform: uppercase;
    }

    span {
      font-size: 0.7em;
      color: $color-secondary;
    }
    button {
      margin: 3px;
    }
  }
}

.project_description {
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  background: #0a183d;
  width: 500px;
}

.description {
  padding: 15px;
  margin: 0.5em 0;
  color: $color-secondary;
  h3 {
    margin-bottom: 0.5em;
    color: $color-primary;
  }
}

.feature_outline {
  display: flex;
  box-shadow: 12px 12px 24px 0 rgba(181, 174, 174, 0.027),
    -12px -12px 24px 0 rgba(86, 85, 85, 0.034);
  width: 508px;
  height: 198px;
  border-radius: 40px;
  padding: 5px;
  align-items: center;
  overflow: hidden;
  margin-bottom: 0;
}

.feature_outline_pressed {
  box-shadow: inset 6px 6px 10px 0 rgba(62, 54, 54, 0.673),
    inset -6px -6px 10px 0 rgba(62, 54, 54, 0.673);
}

@media screen and (max-width: 410px) {
  .project_info {
    justify-content: center;
    display: block;
    width: 200px;
    padding: 10px;
  }

  .project_title {
    padding: 2px;
    width: 100px;
  }
  .project_title h1 {
    margin-bottom: 0.5em;
    font-size: 0.1em;
    font-weight: 10;
    text-transform: uppercase;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .feature_outline {
    width: 350px;
    margin: 0 auto;
    h1 {
      font-size: 5px;
    }
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
